body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
/*============================ navigation =======================*/

.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header {
  background-color: #ffffff;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header {
    padding: 0;
  }
  .header-nav {
    padding: 24px 0;
  }
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  margin-right: 76px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .logo {
    margin-right: 120px;
  }
}
.logo-studio {
  color: #2e2f42;
}
.navigation-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-underline {
  position: relative;
  color: #404bbf;
}
.item-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .address-container {
    display: none;
  }
}
.address-container {
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
  font-style: normal;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
  }
  .address-container {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.address-list-tel {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address-list-tel {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
.navigation-item:hover,
.navigation-item:focus,
.address-list-tel:hover,
.address-list-tel:focus {
  color: #404bbf;
}
/* ===================mobile menu ======================*/

.menu-open-button {
  border: none;
  height: 24px;
  width: 24px;
  margin-left: auto;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open-button {
    display: none;
  }
}
.menu-open-svg {
  fill: #2f2f37;
}
/* ======= */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 99;
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 72px 24px 40px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-butoon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-icon {
  fill: #2e2f42;
}
.mobile-butoon-close:focus,
.mobile-butoon-close:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.mobile-menu-item {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-list-li:first-child .mobile-menu-item {
  color: #404bbf;
}
.mobile-list-li:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-tel {
  color: #4d5ae5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.mobile-menu-email {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-address-item {
  margin-bottom: 24px;
}
.mobile-address-item:last-child {
  margin-bottom: 48px;
}
.mobile-social-link {
  display: flex;
  gap: 40px;
}
.mobile-navigation {
  margin-bottom: auto;
}
.mobile-social-item {
  width: 40px;
  height: 40px;
}
.mobile-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-icon {
  fill: #f4f4fd;
}
.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #404bbf;
}
/*==================== hero-image ========================*/
.hero-image {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg.jpg);
  background-repeat: no-repeat;
  max-width: 767px;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding: 72px 0;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) {
  .hero-image {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-image {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg.jpg);
    max-width: 1157px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg@2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .hero-image {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk-bg.jpg);
    max-width: 1440px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desk-bg@2x.jpg);
    }
  }
}
.hero-image-title {
  /* max-width: 496px; */
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 0 50px;
  margin-bottom: 72px;
  text-align: center;
}
.hero-image-button {
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;

  padding: 0;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero-image-title {
    max-width: 496px;
    padding: 0;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-image {
    padding: 112px 0;
  }
  .hero-image-title {
    margin: 0 auto 36px auto;
  }
}
@media screen and (min-width: 1158px) {
  .hero-image {
    padding: 188px 0;
  }
  .hero-image-title {
    margin: 0 auto 48px auto;
  }
}
.hero-image-button:focus,
.hero-image-button:hover {
  background-color: #404bbf;
}

/*====================== section_2 Company Benefits =================*/

.benefits {
  background-color: #ffffff;
  padding: 96px 0;
}

.benefits-icon-container {
  display: flex;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
@media screen and (max-width: 1157px) {
  .benefits-icon-container {
    display: none;
  }
}
.benefits-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.benefits-list-item {
  /* width: calc((100% - 72px) / 4); */
}
.benefits-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
  }
  .benefits-text {
    font-weight: 400;
  }
}

/*--------------------------- section_3-Our Team ---------------------------*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-main-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  max-width: 264px;
  margin: 0 auto;
  /* width: calc((100% - 72px) / 4);  */
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-container {
  padding: 32px 0;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-icon-list-li {
  width: 40px;
  height: 40px;
}
.team-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tean-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-team-table {
    padding: 0 108px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  .team-list {
    flex-direction: row;
    gap: 24px;
  }
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

/* =======================section 4-Our Portfolio================== */

.portfolio {
  background-color: #ffffff;
  padding: 96px 0;
}
.portfolio-main-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  flex-direction: column;
  /* flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px; */
}
.portfolio-list-item {
  max-width: 288px;
  /* width: calc((100% - 48px) / 3); */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  height: 280px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-img {
    height: 300px;
  }
  .portfolio-list-item {
    max-width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-img {
    height: auto;
  }
  .portfolio-list-item {
    max-width: 360px;
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay-item-text {
  transform: translateY(0%);
}
.overlay-item-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  position: absolute;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-text-container {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------------------  footer ----------------------------*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* align-items: baseline; */
}
.footer-logo-text-cont {
  max-width: 288px;
  margin: 0 auto;

  /* margin-right: 120px; */
}
.footer-logo {
  width: 100%;
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    gap: 72px 24px;
  }
  .footer-logo-text-cont {
    margin: 0;
    max-width: 264px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-direction: row;
    gap: 0;
    align-items: baseline;
  }
  .footer-logo-text-cont {
    margin: 0 120px 0 0;
    max-width: 264px;
  }
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social-media-text {
    text-align: start;
  }
  .footer-logo {
    text-align: unset;
  }
}
.footer-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-icon-list-li {
  width: 40px;
  height: 40px;
}
.footer-icons {
  fill: #f4f4fd;
}
.footer-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
/* --------------------------footer style for form-------------- */
.footer-name-form {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-name-form {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .form-subscribe-cont {
    margin-left: auto;
  }
}
.subscribe-form {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-form::placeholder {
  color: #ffffff;
}
.subscribe-button {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  background-color: #4d5ae5;
  padding: 8px 24px;
  border: none;

  width: 165px;
  height: 40px;
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.subscribe-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.button-input-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .button-input-container {
    flex-direction: row;
  }
  .subscribe-form {
    width: 264px;
  }
}
/* -------------------------------modal-form-style---------------=-- */

.beckdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  visibility: visible;
  transform: translateY(0);
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-form {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.modal-icon-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-close-button:focus,
.modal-icon-close-button:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-container-for-inputs {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-form-svg {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.form-label-icon {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* change border imput focus */

.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .form-label-icon {
  fill: #4d5ae5;
}

.form-text-container {
  margin-bottom: 16px;
}
.modal-form-text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text-comment:focus-within {
  border-color: #4d5ae5;
}

.privacy-policy-link {
  text-decoration-line: underline;
  color: #4d5ae5;
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .privacy-policy-link {
    margin: 0;
  }
}
.checkbox-container-privacy {
  margin-bottom: 24px;
}
.user-privacy-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-span-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .user-privacy-label .checkbox-span-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-icon-submit-button {
  display: block;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-submit-button:hover,
.modal-icon-submit-button:focus {
  background-color: #404bbf;
}

/* -------------------------------modal-form-style-end---------------=-- */
